<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="leg_control_interface" params="name">
        
        <joint name="${name}_HAA">
            <command_interface name="effort">
                <param name="min">-${hipx_eff}</param>
                <param name="max">${hipx_eff}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="${name}_HFE">
            <command_interface name="effort">
                <param name="min">-${hipy_eff}</param>
                <param name="max">${hipy_eff}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="${name}_KFE">
            <command_interface name="effort">
                <param name="min">-${knee_eff}</param>
                <param name="max">${knee_eff}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        
    </xacro:macro>
</robot>
